/data
.Rproj.user
masterthesis_temp_interpolation/.Rhistory
masterthesis_temp_interpolation/.RData
/MLR_07_2023_12days
/RK_07_2023_12days
/gaussian_MLR_07_2023_12days
/masterthesis_temp_interpolation/older versions
/rk_monthly_mean
