.Rproj.user
masterthesis_temp_interpolation/.Rhistory
masterthesis_temp_interpolation/.RData
/MLR_07_2023_12days
/RK_07_2023_12days
/gaussian_MLR_07_2023_12days
/masterthesis_temp_interpolation/older versions
/rk_monthly_mean
data/building_height/GHS_BUILT_H_AGBH_E2018_GLOBE_R2023A_4326_3ss_V1_0_R4_C19.tif
data/building_height/GHSL_Data_Package_2023_light.pdf
data/canopy_height/Forest_height_2019_NAFR.tif
data/DEM/n49_e008_1arc_v3.tif
data/.DS_Store
data/AOI/.DS_Store
data/building_height/.DS_Store
data/canopy_height/.DS_Store
data/copernicus_LULC/.DS_Store
data/DEM/.DS_Store
data/OSM_LULC/.DS_Store
data/temp_HD/.DS_Store
masterthesis_temp_interpolation/.DS_Store
data/AOI/OSM_boundaries_HD_buffered.geojson
data/AOI/OSM_boundaries_Germany.geojson
data/AOI/OSM_boundaries_BW.geojson
data/temp_HD/sensor_data_year_2023.geojson
data/temp_HD/sensor_data_20230112_31days.gpkg
data/temp_HD/sensor_data_20230111_30days.gpkg
data/temp_HD/sensor_data_20230110_31days.gpkg
data/temp_HD/sensor_data_20230109_30days.gpkg
data/temp_HD/sensor_data_20230108_31days.gpkg
data/temp_HD/sensor_data_20230106_30days.gpkg
data/temp_HD/sensor_data_20230105_31days.gpkg
data/temp_HD/sensor_data_20230104_30days.gpkg
data/temp_HD/sensor_data_20230103_31days.gpkg
data/temp_HD/sensor_data_20230102_28days.gpkg
data/temp_HD/sensor_data_20230101_31days.gpkg
data/copernicus_LULC/Legend/Urban_Atlas_2018_Legend.qml
data/copernicus_LULC/DE522L1_HEIDELBERG_UA2018_MAP.pdf
data/copernicus_LULC/Legend/Urban_Atlas_2018_Legend.lyr
data/copernicus_LULC/Legend/Urban_Atlas_2018_Legend.sld
data/copernicus_LULC/Metadata/DE522L1_HEIDELBERG_UA2018_v013.xml
masterthesis_temp_interpolation/.DS_Store
masterthesis_temp_interpolation/.DS_Store
data/OSM_LULC/DE_10m_3035_tiled.tif
data/copernicus_LULC
masterthesis_temp_interpolation/.DS_Store
plots_report/.DS_Store
.DS_Store
adapted_variogram_RK_07_2023_12days/rk_predictions/2023-07-01_0000_rk_prediction.tif
/adapted_variogram_RK_07_2023_12days
/RK_07_2023_13-15days
/old_RK_07_2023_12days
/try_RK_07_2023_12days
data/OSM_LULC/hd_osm_landuse_4326.tif.aux.xml
data/temp_HD/station_coords.gpkg-shm
data/temp_HD/station_coords.gpkg-wal
/Monthly_RK_2023
/RK_Monthly_Mean_older_version
/RK_all_07_2023
/RK_ANBH_07_2023_12days
/MLR_ANBH_07_2023_12days
/Monthly_ANBH_RK_2023
/plots
/plots
/gaussian_ANBH_MLR_07_2023_12days
/old_gaussian_MLR_07_2023_12days
/old_MLR_07_2023_12days
/old_Monthly_RK_2023
/old_RK_07_2023_13-15days
/qgis_maps
/maps
/maps/output_maps
data/building_height/GHS_BUILT_H_AGBH_E2018_GLOBE_R2023A_4326_3ss_V1_0_R4_C19.tif.aux.xml
data/building_height/hd_AGBH_4326.tif.aux.xml
data/building_height/hd_ANBH_4326.tif.aux.xml
data/building_height/hd_building_height_4326.tif.aux.xml
data/canopy_height/hd_canopy_height_4326.tif.aux.xml
maps/.DS_Store
data/elevation/n49_e008_1arc_v3.tif
/maps
/maps
r_scripts/__analyse_temp_data.Rmd
r_scripts/__rf_rk_different_timestamps.Rmd
r_scripts/__test_script.Rmd
r_scripts/masterthesis_temp_interpolation.Rproj
/r_scripts/older versions
r_scripts/.Rhistory
r_scripts/.RData
plots/.DS_Store
/masterthesis_temp_interpolation
.DS_Store
.DS_Store
plots/.DS_Store
